div .exercise {
	background-color: LemonChiffon;
	margin-top: 5px;
	margin-bottom: 5px;
}

#main-title {
	font-size: 5em;
	text-align: center;
	font-weight: bold;
}

.prompt {
	min-width: 18ex;
}

img {
	box-shadow: 0px 0px 5px gray;
}
